.nav {
    font-family: "Manrope", sans-serif;
    
    display: flex;
    justify-content: space-between;
  }
  
  .nav__logo {
    width: 84px;
    height: 84px;
    margin: 36px 0;
  }
  
  .nav__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    list-style-type: none;
  }
  
  .nav__link {
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    line-height: 35px;
    text-decoration: none;
    transition: color 0.1s linear;
    flex-grow: 1;
  }
  
  .nav__link:hover {
    color: #9abff0;
  }
  
  .nav__button {
    font-family: "Inter", sans-serif;
    background-color: #fff;
    width: 175px;
    height: 54px;
    color: rgba(0, 0, 255, 1);
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    align-self: center;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 40px;
  }

  .nav__menu-button{
    width: 50px;
    height: 50px;
    background-color: transparent;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid white;
    display: none;
    align-self: center;

  }

  @media (max-width: 1200px) {
      .nav__link {
        font-size: 20px;
        font-weight: 600;
        line-height: 35px;
      }
      .nav__links {
        gap: 20px
      }
      .nav__button
      {
        font-size: 20px;
        width: 165px;
        height: 48px;
        margin-left: 20px;
      }
  }
  @media (max-width: 950px) {
    .nav__link {
        font-size: 16px;
        font-weight: 600;
        line-height: 35px;
      }
      .nav__links {
        gap: 15px
      }
      .nav__button
      {
        font-size: 16px;
        width: 165px;
        height: 48px;
        margin-left: 15px;
      }
  }

  @media (max-width: 850px) {
    .nav__menu-button{
      display: block;
    }
    .nav {
      position: absolute;
      top: 150px;
      left: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 10;
    }

    .nav--open {
        transform: translateX(0);
    }

    .nav__links {
        flex-direction: column;
    }

    .nav__item {
        margin: 20px 0;
    }
  }